@model PruebasWebNetCore.Web.Models.ProductoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ancho" class="control-label"></label>
                <input asp-for="Ancho" class="form-control" />
                <span asp-validation-for="Ancho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Largo" class="control-label"></label>
                <input asp-for="Largo" class="form-control" />
                <span asp-validation-for="Largo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Espesor" class="control-label"></label>
                <input asp-for="Espesor" class="form-control" />
                <span asp-validation-for="Espesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <select asp-for="Material" class="form-control">
                    <option value="Baja Densidad">Baja Densidad</option>
                    <option value="Alta Densidad">Alta Densidad</option>
                </select>
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAcabado" class="control-label"></label>

                <select asp-for="TipoAcabado" class="form-control">
                    <option value="Camiseta">Camiseta</option>
                    <option value="Riñonera">Riñonera</option>
                    <option value="Ponchillo">Ponchillo</option>
                </select>

                <span asp-validation-for="TipoAcabado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCorte" class="control-label"></label>
                <select asp-for="TipoCorte" class="form-control">
                    <option value="Lateral">Lateral</option>
                    <option value="Frontal">Frontal</option>
                </select>
                <span asp-validation-for="TipoCorte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" asp-items="Model.Colores" class="form-control"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-chevron-circle-left"></i> Back to List</a>
</div>

