@model PruebasWebNetCore.Web.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Registrar Nuevo Usuario</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Nombre">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ApellidoPaterno">Apellido Paterno</label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ApellidoMaterno">Apellido Materno</label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cargo">Cargo</label>
                <select asp-for="Cargo" class="form-control">
                    <option value="Administrador">Administrador</option>
                    <option value="JefeProduccion">Jefe de Produccion</option>
                    <option value="Extrusion">Extrusion</option>
                    <option value="Impresion">Impresion</option>
                    <option value="Cortado">Cortado</option>
                    <option value="Empaquetado">Empaquetado</option>
                    <option value="Reciclado">Reciclado</option>
                </select>
                <span asp-validation-for="Cargo" class="text-warning"></span>
            </div>


            <div class="form-group">
                <label asp-for="Ci">Carnet</label>
                <input asp-for="Ci" class="form-control" />
                <span asp-validation-for="Ci" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefono">Telefono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName">Nombre de Usuario</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirmar Contraseña</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register New User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-area="" asp-controller="Empleados" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Volver</a>
</div>
<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
