@model PruebasWebNetCore.Web.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h2>Register New User</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Nombre">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ApellidoPaterno">Apellido Paterno</label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ApellidoMaterno">Apellido Materno</label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName">Nombre de Usuario</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirmar Contraseña</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register New User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
